@import "base/variable";


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "base/style";
@import "base/responsive";

.particle-container {
  display: flex;
  align-content: center;
  @media (max-width: 767px) {
    display: none;
  }
}
.particle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.navbar-brand{
  img{
    width:50px !important;
    height:50px !important;
  }
}
